@import url();
*{
    font-family: 'roboto', sans-serif;
}
/* header start */
header a{
    font-size:18px ;
    line-height: 22px;
    color: #828282;
    text-decoration: none;
}
.burger{
    display: none;
}
header .container .row{
    height: 10vh;
}
header a:hover{
    color: black;
    font-weight: 700;
}
header hr{
    width: 87%;
    margin-left: 7%;
}
/* header end */
/* sectiom start */
.AboutMe{
    display: flex;
    justify-content: space-between;
    width: 89%;
    margin-left: 5%;
}
.AboutMe h1{
    font-size: 50px;
    font-family:'Gilroy-Bold';
    margin-left: 8%;
}
.AboutMe p{
    display: flex;
    flex-direction: column-reverse;
    font-size: 18px;
}
.AboutMe h2{
transform: rotate(-90deg);
font-size: 16px;
margin-left: 15%;
margin-top: 2%;
}
.me img{
    width: 79%;
    height: 60vh;
    margin-left: 12%;
    margin-top: 20px;
}
/* section end */
/* container start */
.aboutme_second{
    background-color: #F6F6F6;
    height: 50vh;
    margin-top: 7%;
  
}
.aboutme_second h1{
margin-left: 43%;
padding-top: 5%;
}
.aboutme_second p{
    margin-top: 30px;
    width: 28%;
    margin-left: 35%;
    text-align: center;
}
/* container end */
/* skill start */
.skills h1, p{
    text-align: center;
    margin-top: 5%;
}
.skills .app{
    display: flex;
    justify-content: space-evenly;
    margin-left: 6%;
    margin-top: 5%;
    width: 90%;
}
.skills .app p{
    color: #828282;
    font-size: 12px;
    margin-top: 20px;
    margin-right: 30%;
}
/* skill end */
/* pics start */
.pictures{
    
    background-color: #F6F6F6;
    margin-top: 5%;
}

.pictures h1{
    text-align: center;
    padding-top: 10%;
}
.picone{
    display: flex ;
    justify-content: center;
    margin-top: 2%;
}
.pictures a{
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.pictwo{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.picthree{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
#aska{
padding-bottom: 10%;
}

/* pics end */
/* footer start */
footer h1{
    margin-top: 8%;
    display: flex;
    justify-content: center;
}
footer p{
    margin-top: 2%;
}
footer button{
    background-color: black;
    color: white;
    margin-left: 44%;
    border-radius: 20px;
    width: 12%;
}
footer .socseti{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin-left:35% ;
    margin-top: 2%;
}
#lastword{
    font-size: 13px;
    color: #828282;
}
/* footer end */
@media (max-width: 576px) {
    header{
        display: none;
    }
    .me img{
        height: 45vh;
    }
    .burger{
        display: block;
        width: 20%;
        height: 50vh    ;
    }
    .AboutMe{
        margin-top: 5%;
    }
    .AboutMe h1{
        font-size: 20px;
    }
    .AboutMe p{
        font-size: 16px;
    }
    .AboutMe h2{
        transform: rotate(-90deg);
        font-size: 16px;
        margin-left: 0%;
        margin-top: 0%; 
    }
    .aboutme_second{
        height: 45vh;
    }
    .aboutme_second h1{
        margin-left: 35%;
    }
    .aboutme_second p{
            margin-top: 0px;
            width: 100%;
            margin-left: 0%;
            text-align: center;
    }
    .skills .app{
        display: flex;
        flex-wrap: wrap;
    }
    .adobe, .figma{
        margin-top: 10%;
    }
    .picone img, .pictwo img, .picthree img{
        width: 100%;
        padding-top: 10%;
    }
    footer button{
        width: 30%;
        margin-left: 35%;
    }
    footer .socseti{
        width: 100%;
        margin-left: 0;
        margin-top: 5%;
    }
}